@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift';
}

#header{
    padding: 45px;
    width: 100%;
    background-color: #4CAF50;
}
#sidebar{
    height: 90.2vh;
    width: 16%;
    background-color: #E7E6E6;
    float: left;
}
#main{
    height: 90.2vh;
    width: 100%;
    background-color:#F2F2F2;
}
#sidebar  .profile{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-profile {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer; 
}
.change-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    mix-blend-mode: multiply;
}
.profile-details{
    text-align: center;
    margin-top: 20px;
}
.profile-details .name{
    font-weight: bold;
    font-size: 25px;
}
.role-details{
    text-align: center;
    margin-top: 8px;
    color: #595959;
}
.role-details .role{
    font-size: 18px;
}
hr{
    margin-top: 5px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.home .home-button{
    width: 250px;
    height: 50px;
    color: #595959;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.files .files-button{
    width: 250px;
    height: 50px;
    color: #595959;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.archive .archive-button{
    width: 250px;
    height: 50px;
    color: #595959;
    background-color: #C5E0B4;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.logout {
    position: relative;
    top: 180px;
    text-align: center;
  }
  
.logout .logout-button{
    width: 150px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    color: #595959;
}
.restore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border: 1px solid;
    width: 25%;
    height: 25%;
    text-align: center;
  }
.restore p{
    margin-top: 30px;
    font-size: 25px;
    color: #000000;
}

.confirm-btn{
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    margin-top: 100px;
    background-color: #D9D9D9;
    color: #595959;
    font-weight: bold;
}
.delete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border: 1px solid;
    width: 30%;
    height: 30%;
    text-align: center;
}
.delete p{
    margin-top: 30px;
    font-size: 25px;
    color: #000000;
}
.cancel-btn, .confirmd-btn{
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    margin: 150px 20px 0 20px;
    background-color: #D9D9D9;
    color: #595959;
    font-weight: bold;
}
.logout {
    position: relative;
    top: 180px;
    text-align: center;
}
  
.logout .logout-button{
    width: 150px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 59px;                                                                                    
}
.search-container input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: solid 1px;
    border-color: #A6A6A6;

}
.search-container input[type="text"]::placeholder {
    font-style: italic;
    padding-left: 15px;
    color: #A6A6A6;
}
#main .logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin-bottom: 60px;
}
#main .logo img{
    width: 150px;
}
.title{
    position: absolute;
    top: 130px;
    right: 33.5%;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.description{
    position: relative;
    top: 10px;
}
.document-table {
    width: 84%;
    border-collapse: collapse;
    table-layout: fixed;
}
.document-table th, .document-table td {
    padding: 20px;
    border-bottom: 2px solid #ddd;
    table-layout: fixed;
}
.thname{
    text-align: left;
}
.thdate{
    text-align: center;
}
.thaction{
    text-align: right;
}