@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #4CAF50;
    padding: 45px;
  }
.left-side{
    background-color: #E7E6E6;
    max-width: 16%;
    height: 90.2vh;
}
.left-side .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-profile {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer; 
}
.change-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    mix-blend-mode: multiply;
}
.profile-details{
    text-align: center;
    margin-top: 20px;
}
.profile-details .name{
    font-weight: bold;
    font-size: 25px;
}
.role-details{
    text-align: center;
    margin-top: 8px;
}
.role-details .role{
    font-size: 18px;
}
hr{
    margin-top: 5px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.dashboard .dashboard-button{
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.files .teacher-button{
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.user .user-button{
    width: 250px;
    height: 50px;
    background-color: #C5E0B4;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.form-templates .form-templates-button{
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.trash .trash-button{
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.logout {
    margin-top: 40px;
    text-align: center;
  } 
  
.logout .logout-button{
    width: 150px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;                                                                                    
}
.search-container input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: solid 1px
}
.search-container input[type="text"]::placeholder {
    font-style: italic;
    padding-left: 15px;
}
.create-document{
    padding-bottom: 5px;
}
.create-files{
    position: relative;
    bottom: 17px;
    width: 100px;
    height: 40px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
i[class*='bx-plus'] {
   position: absolute;
   right: 77px;
   top: 11px;
   font-size: 18px;
   opacity: 0.7;
}

.main {
    position: absolute;
    top: 90px; /* adjust the value to match the height of your header */
    right: 0;
    width: 84%; /* assuming 16% is the width of the left side */
    height: calc(100vh - 90px); /* adjust the value to match the height of your header */
    padding: 20px;
    box-sizing: border-box;
    background-color: #F2F2F2;
}
.title{
    position: relative;
    top: -55px;
    left: 150px;
    font-weight: bold;
    font-size: 30px;
}
.description{
    position: relative;
    top: -20px;
    left: -55px;
    font-size: 16px;
}
.create-folder .arrow i.bx.bx-left-arrow-alt {
    position: relative;
    top: -25px;
    left: -20px;
    color: #000000;
    font-size: 90px;
    cursor: pointer;
  }
  .title{
    position: relative;
    top: -5px;
    left: 30px;
    font-weight: bold;
    font-size: 50px;
  }
.details{
    margin-top: 90px;
    margin-left: 40px;
}
.Full-name input[type="text"]{
    width: 30%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 40px; 
    margin-right: 50px;
}
.email-and-birthday input[type="text"]{
    width: 30%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-right: 50px;

}
.admin input[type="text"]{
    width: 30%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 40px; 
}
.Full-name input[type="text"]::placeholder, .email-and-birthday input[type="text"]::placeholder, .admin  input[type="text"]::placeholder {
    font-style: italic;
  }
  .two-buttons{
    position: absolute;
    bottom: 30px;
    left: 650px;                                        
}
.two-buttons button[type="submit"] {
    width: 250px;
    height: 50px;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    margin-right: 40px;
}
.created{
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    border: 1px solid;
    width: 25%;
    height: 25%;
    text-align: center;
}
.created p{
    margin-top: 40px;
    font-size: 25px;
}
.created-btn{
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    background-color: #D9D9D9;
    margin-top: 70px;
}