@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bahnschrift';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
#outerbox {
    width: 67vw;
    height: 65vh;
    background-color: #F2F2F2;
    border: 1px solid #ddd;
    border-radius: 80px;
}
#innerbox {
    width: 19.27vw;
    height: 65vh;
    background-color: #4CAF50;
    margin-left: 150px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-top: 65px;
    padding-right: 55px;
}
form{
    margin-top: 50px;
}
.form-group {
    margin-bottom: 30px;
    text-align: center;
} 
.form-group input[type="text"] {
    margin-top: 50px;
    width: 90%;
    height: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  input[type="text"]::placeholder{
    font-style: italic;
  }
  .form-group .next-button {
    background-color: #C5E0B4;
    color: #595959;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 35px;
    margin-top: 40px;
    cursor: pointer;
  
  }
  .logo img{
    width: 285px; 
    position: absolute;
    top:  20%;
    left: 55.5%;
  }
  .title{
    position: absolute;
    top: 55.5%;
    left: 57.5%;
    font-weight: bold;
    font-size: 30px;
  }
  .description{
    position: absolute;
    top: 59.5%;
    left: 57.1%;
    font-size: 15px;
  }